body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
    
}
.highlights{
    color: cyan;
}
.flexible-container{
        display: flex;
        margin-bottom: 100px;
        
}
.half-width{
    width:50%;
    padding-left: 2%;
    box-shadow: 10px 10px 30px;
        border: 10px grey;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(navy,aqua);
    padding: 20px 20px;
    color: khaki;
    font-weight: 700;
    border-radius: 5px;

}
.page-corner{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
}
.centre{
    text-align:center;
}
footer p{
    background-color: black;
    text-align: center;
    color: blanchedalmond;

}