body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
}
.highlights{
    color: cyan;
}
section{
    display: flex;
}
.half-width{
    width:50%;
    padding-left: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(navy,aqua);
    padding: 20px 20px;
    color: khaki;
    font-weight: 700;
    border-radius: 5px;

}
.page-corner{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
}
